.container {
    width: 80%;
    height: 600px;
    margin: 40px auto 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 10px double #ffcab4;
}

.container--slides {
    width: 100%;
    height: 100%;
}

.container--slides--slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

.container--slides--slide.active {
    left: 0;
}

.container--slides--slide img {
    width: 100%;
    align-self: center;
    vertical-align: middle;
}

