#container {
	width: 40%;
	margin: 2% 30%;
	float: left;
}

#container .image {
	width: 24.8%;
	float: left;
	margin: 0 0.1%;
	opacity: 0.69;
	transition: 0.3s;
	cursor: pointer;
	outline: 0.1px solid #000;
}

#container .image.opened {
	opacity: 1;
	cursor: default;
}

#container .image:hover {
	opacity: 1;
}

#container .image img {
	width: 100%;
	float: left;
}

#reset-game {
    text-align: center;
    border: none;
    padding: 0.6em 1.2em;
    background: #ed4e6e;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px auto;
    border-radius: 2px;
    transition: 0.3s;
}

#reset-game:hover {
        background: #2c3e52;
}