<!DOCTYPE html>
<html>
<head>
    <title>Memory Game | CG JavaScript Projects</title>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="images/fav/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="container">
    <div class="image" id="1" data-state="closed">
        <img src="images/back/1.jpeg">
    </div>
    <div class="image" id="2" data-state="closed">
        <img src="images/back/2.jpeg">
    </div>
    <div class="image" id="3" data-state="closed">
        <img src="images/back/3.jpeg">
    </div>
    <div class="image" id="4" data-state="closed">
        <img src="images/back/4.jpeg">
    </div>
    <div class="image" id="5" data-state="closed">
        <img src="images/back/5.jpeg">
    </div>
    <div class="image" id="6" data-state="closed">
        <img src="images/back/6.jpeg">
    </div>
    <div class="image" id="7" data-state="closed">
        <img src="images/back/7.jpeg">
    </div>
    <div class="image" id="8" data-state="closed">
        <img src="images/back/8.jpeg">
    </div>
    <div class="image" id="9" data-state="closed">
        <img src="images/back/9.jpeg">
    </div>
    <div class="image" id="10" data-state="closed">
        <img src="images/back/10.jpeg">
    </div>
    <div class="image" id="11" data-state="closed">
        <img src="images/back/11.jpeg">
    </div>
    <div class="image" id="12" data-state="closed">
        <img src="images/back/12.jpeg">
    </div>
    <div class="image" id="13" data-state="closed">
        <img src="images/back/13.jpeg">
    </div>
    <div class="image" id="14" data-state="closed">
        <img src="images/back/14.jpeg">
    </div>
    <div class="image" id="15" data-state="closed">
        <img src="images/back/15.jpeg">
    </div>
    <div class="image" id="16" data-state="closed">
        <img src="images/back/16.jpeg">
    </div>
</div>

<button id="reset-game">Reset Game</button>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>