<!DOCTYPE html>
<html>
<head>

	<title>Chess | CG JavaScript Projects</title>

	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="main-content"></div>

	<script type="text/javascript" src="resources/libs/jQuery.js"></script>
	<script type="text/javascript" src="js/initialization.js"></script>
	<script type="text/javascript" src="js/collision.js"></script>
	<script type="text/javascript" src="js/move.js"></script>
	<script type="text/javascript" src="js/action.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>