<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Calculator | CG JavaScript Projects</title>

    <link rel="shortcut icon" href="images/fav/favicon.ico" type="image/x-icon" />
	  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="background">
         
    <div id="result"></div>
         
    <div id="main">
        <div id="first-rows">
          	<button value="clear" class="del-bg" id="delete">Clear</button>
            <button value="+" class="btn-style opera-bg value align operator">+</button>
        </div>
             
       	<div class="rows">
         	<button value="7" class="btn-style num-bg num first-child">7</button>
            <button value="8" class="btn-style num-bg num">8</button>
            <button value="9" class="btn-style num-bg num">9</button>
            <button value="-" class="btn-style opera-bg operator">-</button>
        </div>
             
        <div class="rows">
            <button value="4" class="btn-style num-bg num first-child">4</button>
            <button value="5" class="btn-style num-bg num">5</button>
            <button value="6" class="btn-style num-bg num">6</button>
            <button value="*" class="btn-style opera-bg operator">x</button>
        </div>
             
        <div class="rows">
            <button value="1" class="btn-style num-bg num first-child">1</button>
            <button value="2" class="btn-style num-bg num">2</button>
            <button value="3" class="btn-style num-bg num">3</button>
            <button value="/" class="btn-style opera-bg operator">/</button>
        </div>
             
        <div class="rows">
            <button value="0" class="num-bg zero" id="zero">0</button>
            <button value="=" class="eqn align" id="eqn-bg">=</button>
        </div>
    </div>
</div> 

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>